<div class="wrap">
  <h1 class="big-header">Hello, Katie!</h1>
  <h2>Welcome back to your very own questionnaire application. </h2>
  <h2>Where would you like to start today?</h2>
  <div class="btn-wrap">
    <div class="btn"><%= link_to 'Check out my studies', controller: 'studies' %></div>
    <div class="btn"><%= link_to 'Make a new study', new_study_path %></div>
  </div>

</div>

