<div class="wrap">
  <div class="section">  
    <h1 class="welcome-header study-name">Thank you!</h1>
    <p>Thank you for taking the time out of your busy day to complete this survey!</p>
    <p>You can now close the window or navigate to another site.<br> Goodbye!</p> 
    <div class="study-wave6"> <%= image_tag  "wave6.svg" %></div>
  </div>    
</div>