<h1>Welcome back, Katie</h1>
<h2>Your previous studies:</h2>




<%= link_to 'Create a new study', new_study_path %>

<table>
  <tr>
    <th>Study Name</th>
    <th colspan="1"></th>
  </tr>

  <% @studies.each do |study| %>
    <tr>
      <td><%= study.study_name %></td>
      <td><%= link_to 'Show', study_path(study) %></td>
      <td><%= link_to 'Edit', edit_study_path(study) %></td>
    </tr>
  <% end %>
</table>