<div class="wrap">
  <p class="link"><%= link_to 'Back to Studies', studies_path %></p>
  <h1 class="med-header">New Study</h1>
  <strong><p>What would you like to call your new study?</p></strong>

  <%= render 'form' %>

</div>