// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.study-name{
    padding-top: 2em;
    padding-bottom: 2em;
}
#textarea_feedback{
    font-size: 0.8em;
    margin-top: 1em;
    color: #FC427B;
}