/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-family: 'Work Sans';
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrap{
    /* padding: 5em; */
}


.big-header{
    font-size: 8em;
}
.med-header{
    font-size: 5em;
}
.btn-wrap{
    display: flex;
    margin-top: 3em;
}
.btn{
    background-color: lightskyblue;
    padding: 20px;
    margin-right: 1em;
    width: 20em;
    text-align: center;
    border-radius: 25px;

}

.btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.table-btn{
    background-color: lightskyblue;
    padding: 20px;
    width: 5em;
    margin-left: 2em;
    text-align: center;
}
.table-btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.table-study{
    outline: 1px solid lightskyblue;
    padding: 20px;
    font-weight: bold;
}
.studies{
    width: 100%;
    margin-top: 3em;
}

.left-text{
    text-align: left;
}

.title-text{
    font-size: 3em;
}
.link a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.red-link a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #e55039;
    padding: 10px;
}
.blue-link a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #6a89cc;
    padding: 10px;
    margin-right: 20px;
}
.black-link a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: black;
    padding: 10px;
}
.flex{
    display: flex;
    /* align-items:flex-start; */
}
svg{
    display: none;
}
.buttons{
    margin-bottom: 10em;
}